In [1]:
#python basic coding#
print('Hello world')

Hello world

In [2]:
print(22)

22

In [3]:
(10-2)/2

4.0

In [4]:
name = "YC"
age = 34
print(name, age)

YC 34

In [5]:
10*3=30

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1096363419.py, line 1)

In [6]:
10*3==30

True

In [7]:
10**3==10

False

In [8]:
10**3

1000

In [9]:
age ==30+4

True

In [10]:
if age > 18:
    print('adult')
else:
    print('minor')

adult

In [11]:
for number in [1,3,5,7]:
    print(number)

1
3
5
7

In [13]:
for x in (1,2,3):
    print(x)

1
2
3

In [17]:
type(x)

int

In [16]:
type(number)

int

In [19]:
for word in ('apple','banana','citron'):
    print (word)

apple
banana
citron

In [20]:
print(number-1)

6

In [21]:
list=[1,3,5,7]
for number in list:
    print(number-1)

0
2
4
6

In [22]:
is_adult(18)

NameError: name 'is_adult' is not defined

In [33]:
def adult(age):
    if age >= 18:
        print('adlut')
    else:
        print('minor')
adult(18)

adlut

In [34]:
sorted(list)

[1, 3, 5, 7]