In [1]:
# variable type

name = 'Anna Bell'
print(type(name))

<class 'str'>

In [2]:
a = 10
print(type(a))

<class 'int'>

In [3]:
list=[2,8,4,6]
print(type(list))

<class 'list'>

In [4]:
# change cap and small letters
name = name.swapcase()
name

'aNNA bELL'

In [6]:
name = name.replace('NA','De')
name

'aNDe bELL'

In [8]:
import pandas as pd

data =[['Adam',7,130],['Berit',8,129],['Cecila',6,126],['Daniel',10,153]]
cols = ['Name','Age','Height']

info = pd.DataFrame(data, columns = cols)

info

     Name  Age  Height
0    Adam    7     130
1   Berit    8     129
2  Cecila    6     126
3  Daniel   10     153

In [9]:
info.shape

(4, 3)

In [10]:
info.columns

Index(['Name', 'Age', 'Height'], dtype='object')

In [12]:
max_list = max(list)
max_list

8

In [14]:
max_list = str(max_list)
max_list

'8'

In [16]:
max_list = 'op'
max_list

'op'

In [18]:
min_list =min(list)
min_list

2

In [21]:
type(6.7)

float